body {
      background-image: url(images/Blue\ Mountains.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-attachment: fixed;
      font-family: 'Titillium Web', sans-serif; 
    }
    .navbarNavbar2 a{
      color: rgb(0, 0, 0) !important;
    }
    .navbarNavbar2 ul li{
      color: white !important;
    }
    
    #mainNav{
      background: white;
      color: black;
    }
    /* Space inbetween input fields */
    #contact-form ul {
      margin-bottom: 10px;
      
    }
    
    #contact-form li {
      margin-bottom: 10px;
    }
    
    label,
    input[type=text],
    input[type=email],
    textarea {
      display: block;
      width: 100%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
      margin-top: 60px;
      height: 35px;
      width: 500px;
      padding: 0 10px;
      font-size: 14px;
      border: 2px solid lightgray;
    }
    
    textarea {
      height: 200px;
    }
    
    input[type=submit] {
      padding: 10px 30px;
      font-size: 18px;
      color: #ffffff;
      cursor: pointer;
      background: #4aaaa5;
      border: 0 none;
    }
    
  
    

   
    
    