#mainNav {
background: black;
}

body {
  background-image: url(images/geometric-mountains-blue-nursery-plain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif; 
}

.image-wrap {
  background: white;
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  border: solid;
  border-width: 1px;
  background-size: 100%;

}
/* .image-wrap {
/* display: block;
margin-left: 100px;
margin-right: 100px;
width: 100%;
background: white;
border: solid;
border-width: 1px; */
/* } */ 