#mainNav {
background: black;
}

body {
  background-image: url(images/geometric-mountains-blue-nursery-plain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif; 
}