*{
  margin:0;
  padding:0;
}

#mainNav{
  background: white;
  color: black;
  font-weight: 500;
  box-shadow: 1px 1px  #c8c8c89d;
}

.heartBeat {
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  color: black !important;
}

.nav-item:hover a{
  background: rgb(213,241,255);
  color: black !important;
}

  .nav-item{
    display:inline-block;
    text-align:center;
}

a:hover {
    font-weight:bold;
}
a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.postForm{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  overflow:both;
  border: 1px solid rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  /* background: url(https://opengameart.org/sites/default/files/Preview4.jpg) no-repeat; */
  background-size: cover;
  padding-top: 100px;
  color: rgb(255, 255, 255);
}

.postHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  border-right: 1px solid rgb(0, 0, 0);
  height: 45vh;
  padding-right: 50px;
  width: 50%;
  flex-wrap:wrap;
  background: rgb(254,254,255);
  color: black;
  display: block;
}

img{
margin:0px 300px;
}

.imgForm{
  margin:auto;

}
.form-control{
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.616);
}

.loginBtn{
  background: rgb(48,79,146);
  color: white;
  border: 1px solid;
  box-shadow: 5px 5px 5px #dfdede;
  width:200px;
}

.loginBtn:hover{
  background: rgb(213,241,255);
  color: black;
  border: 1px solid;
  box-shadow: 5px 5px  #dfdede;
}

.formPage{
  background: rgb(255, 255, 255);
}